name: CI/CD Auto Deploy

on:
  push:
    branches: [ main ]

jobs:
  # =========================================
  # DEPLOY KE LAPTOP rifa
  # =========================================
  deploy-Pompom:
    runs-on: [Pompom_1]  # label runner rifa
    steps:
      - name: Set project path
        run: |
          PROJECT_PATH=~/assign_2
          echo "PROJECT_PATH=$PROJECT_PATH" >> $GITHUB_ENV
      
      - name: Pull latest changes
        working-directory: ${{ env.PROJECT_PATH }}
        run: |
          git fetch origin main
          git reset --hard origin/main

      - name: Restart Docker
        working-directory: ${{ env.PROJECT_PATH }}
        run: |
          docker compose down || true
          docker compose up -d --build

  # =========================================
  # DEPLOY KE LAPTOP palah
  # =========================================
  deploy-palah:
    runs-on: [Falah_1]  # label runner Falah
    
    steps:
      - name: Set project path
        run: |
          PROJECT_PATH=~/assign_2
          echo "PROJECT_PATH=$PROJECT_PATH" >> $GITHUB_ENV

      - name: Pull latest changes
        working-directory: ${{ env.PROJECT_PATH }}
        run: |
          git fetch origin main
          git reset --hard origin/main

      - name: Restart Docker
        working-directory: ${{ env.PROJECT_PATH }}
        run: |
          docker compose down || true
          docker compose up -d --build
